:root {
  --max-container-width: 60em;
}

* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  font-family: sans-serif;
  margin: 1em;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

ul {
  list-style: none;
}

li {
  margin: 0.5em 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin: 0.5em 0;
}

main {
  max-width: var(--max-container-width);
}

.reviews li {
  padding: 1em;
  border: 1px solid black;
  text-align: center;
}

.review-text {
  font-style: italic;
  font-size: 1.2em;
}

.review-author:before {
  content: " - ";
}

.cover {
  margin: 1em 0;
  width: fit-content;
  height: 12em;
  border: 1px solid black;
}

.cover img {
  max-width: 100%;
  max-height: 100%;
}

.play-button-container {
  margin: 2em 0;
}

.play-button {
  padding: 1em;
  background-color: blue;
  color: powderblue;
  text-decoration: none;
  border-bottom: 0.5em solid darkblue;
  border-right: 0.5em solid darkslateblue;
  border-top: 0.5em solid skyblue;
  border-left: 0.5em solid dodgerblue;
  font-weight: bold;
}

.play-button:visited {
  color: powderblue;
}

.play-button::after {
  content: " ▷";
}

.credits li::before {
  content: "💙";
}

.back::before {
  content: "← ";
}

.game-gallery {
  display: grid;
  grid-template-columns: 16em 16em 16em;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em 0;
}

.game-tile {
  text-align: center;
  border: 1px solid black;
  padding: 0.2em;
  width: 16em;
}

.game-thumbnail {
  width: 100%;
  height: 10em;
}

.game-title {
  font-weight: bold;
  text-decoration: none;
}

.art-selection {
  display: grid;
  grid-template-columns: 25em 25em;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em 0;
}

.art-tile {
  width: 25em;
  text-align: center;
  border: 1px solid black;
  padding: 0.2em;
}

.art-tile p {
  font-weight: bold;
  margin-top: 0;
}

.art-tile img {
  width: 100%;
}

@media (max-width: 60em) {
  .game-gallery {
    grid-template-columns: 16em 16em;
  }

  .art-selection {
    grid-template-columns: 16em 16em;
  }

  .art-tile {
    width: 16em;
  }
}

@media (max-width: 36em) {
  .game-gallery {
    grid-template-columns: 16em;
  }

  .art-selection {
    grid-template-columns: 16em;
  }
}
